body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(7, 11, 43),rgb(62, 66, 114),rgb(131, 129, 166));
  background-repeat: no-repeat;
}

.title {
color:rgb(255, 255, 255);
padding: 10px;
font-family:montserrat;
font-weight: 400;
font-size: 200%;
text-align:center;
margin-top: 50px;
}

.topbar {
display: flex;
justify-content: space-evenly;
color:white;
font-family:montserrat;
font-weight: 350;
font-size: 120%;
margin:30px;
a {
  color: white;            
  text-decoration: none;   
}
a:hover {
  color: #b2bce3;          
  text-decoration: underline;
}
}