/*I made a gradient background which is a combination of every main color that I use for this website.
This is the end page so I want it to be colorful, just like summer, and the color is also similar
as a rainbow which represent "endless".*/
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(7, 11, 43),rgb(73, 132, 194),rgb(96, 157, 164),rgb(219, 150, 148),rgb(228, 130, 176))
}

.title {
color:rgb(255, 255, 255);
padding: 10px;
font-family:montserrat;
font-weight: 400;
font-size: 200%;
text-align:center;
margin-top: 50px;
}

.topbar {
display: flex;
justify-content: space-evenly;
color:white;
font-family:montserrat;
font-weight: 350;
font-size: 120%;
margin:30px;
a {
  color: white;            
  text-decoration: none;   
}
a:hover {
  color: #b2bce3;          
  text-decoration: underline;
}
}

.text {
  font-family: montserrat;
  font-weight: 400;
  font-size: 120%;
  color: white;
  text-align: justify;
  margin: 20px 300px;
}

.bottombar {
text-align: center;
color:rgb(255, 255, 255);
font-family:montserrat;
font-weight: 350;
font-size: 120%;
margin:30px;
}

iframe {
display: block;
margin: 50px auto;
}